name: 'Build and push Docker image'

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    id-token: write
    contents: write

jobs:
    build-image:
        strategy:
            matrix:
                include:
                    - arch: amd64
                      runner: ubuntu-latest
                    - arch: arm64
                      runner: ubuntu-24.04-arm
        runs-on: ${{ matrix.runner }}
        outputs:
            VERSION: ${{ steps.get_tags.outputs.VERSION }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Get tags
              id: get_tags
              run: |
                  VERSION=$(git describe --tags --dirty --always)
                  echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v5.1.0
              with:
                  aws-region: eu-west-2
                  role-to-assume: ${{ vars.AWS_ECR_ROLE }}

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  push: true
                  tags: ${{ vars.ECR_NAME }}/nango:${{ steps.get_tags.outputs.VERSION }}-${{ matrix.arch }}
                  platforms: linux/${{ matrix.arch }}
                  cache-from: type=registry,ref=${{ vars.ECR_NAME }}/nango:buildcache-${{ matrix.arch }}
                  cache-to: type=registry,ref=${{ vars.ECR_NAME }}/nango:buildcache-${{ matrix.arch }},mode=max

    merge-manifest:
        needs: build-image
        runs-on: ubuntu-latest

        steps:
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v5.1.0
              with:
                  aws-region: eu-west-2
                  role-to-assume: ${{ vars.AWS_ECR_ROLE }}

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Create multi-arch manifest
              run: |
                  docker buildx imagetools create \
                    -t ${{ vars.ECR_NAME }}/nango:${{ needs.build-image.outputs.VERSION }} \
                    -t ${{ vars.ECR_NAME }}/nango:latest \
                    ${{ vars.ECR_NAME }}/nango:${{ needs.build-image.outputs.VERSION }}-amd64 \
                    ${{ vars.ECR_NAME }}/nango:${{ needs.build-image.outputs.VERSION }}-arm64
